---
// Live2D Page
import Layout from "@layouts/Layout.astro";
import { fetchList } from "@lib/stores/fetchData";
import Live2dList from "@components/content/live2dPosts.svelte";
const category = "live2d";
let postsFetched = await fetchList(category);
let posts = postsFetched?.posts;
---

<Layout
  title="Hyceate's Live2D Page"
  description="Hyceate's list of Live2d showcase videos."
  ><section class="flex flex-col justify-start items-center">
    {
      postsFetched?.categoryQuery && (
        <h1 class="text-4xl uppercase mb-10 font-medium tracking-wider">
          {postsFetched?.categoryQuery}
        </h1>
      )
    }
    <ul
      id="live2d-cards"
      class="flex flex-wrap max-w-6xl justify-center md:justify-normal"
    >
      <Live2dList category={category} posts={posts} client:load />
    </ul>
  </section>
</Layout>
