---
// Live2D Page
import Layout from "@layouts/Layout.astro";
import { fetchList } from "@lib/stores/fetchData";
import Live2dList from "@components/content/live2dPosts.svelte";
const category = "live2d";
let postsFetched = await fetchList(category);
let posts = postsFetched?.posts;
---

<Layout
  title="Hyceate's Live2D Page"
  description="Hyceate's list of Live2d showcase videos."
  ><section class="flex flex-col justify-start items-center">
    {
      postsFetched?.categoryQuery && (
        <hgroup class="flex justify-center flex-col items-center mt-10 mb-10">
          <h1 class="text-6xl mb-9 font-medium">
            {postsFetched?.categoryQuery}
          </h1>
        </hgroup>
      )
    }
    <ul
      id="live2d-cards"
      class="flex flex-wrap max-w-6xl justify-center md:justify-normal"
    >
      <Live2dList category={category} posts={posts} client:only="svelte" />
    </ul>
  </section>
</Layout>
