---
// Art Page

import Layout from "@layouts/Layout.astro";
import ArtList from "@components/content/artPosts.svelte";

// console.log("posts fetched", posts);
---

<!-- <script>
  import { isReady } from "@lib/stores/stores";
  isReady.subscribe((ready) => {
    if (ready) {
      document.getElementById("artloader").style.display = "none";
    } else {
      document.getElementById("artloader").style.display = "block";
    }
  });
</script> -->
<Layout title="Hyceate's Arts Page" description="Hyceate's list of artworks."
  ><section class="inline-flex flex-col justify-center items-center">
    <hgroup class="flex justify-center flex-col items-center mb-10">
      <h1 class="text-6xl mb-9 font-medium">art</h1>
    </hgroup>

    <ArtList client:load />
  </section>
</Layout>
<style></style>
