/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(243, 237, 235);
  --background-end-rgb: rgb(250, 234, 225);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(22, 21, 21);
    --background-end-rgb: rgb(109, 101, 101);
  }
} */

html,
body {
  margin: 0;
  min-height: 100%;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb);
}

body {
  flex-grow: 1;
  color: var(--foreground-rgb);

}

a {
  color: #db7471;
}


@layer utilities {
  .major-button {
    overflow: hidden;
    box-shadow: 0px 5px 0px #5f4444;
    background-color: #fcb6a9;
    border-color: #5f4444;
    border-width: .15rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .major-button:hover {
    transform: translate(0px, 2px);
    box-shadow: 0px 3px 0px #5f4444;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }

  .bg_menu_overlay {
    background: rgb(243, 237, 235);
    background: radial-gradient(circle, rgba(243, 237, 235, 0.747) 10%, rgba(247, 227, 222, 1) 100%);
  }

  .text-balance {
    text-wrap: balance;
  }
}