.swup-progress-bar {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #bb847d;
  z-index: 9999;
}

html.is-animating #loader {
  opacity: 1;
}

html.is-animating #loader-bg {
  opacity: .8;
}

.art-card,
.live2d-card {
  transition: transform 250ms;
}

html.is-rendering .art-card,
html.is-rendering .live2d-card {
  transition-delay: 10ms;
}

html.is-animating .art-card,
html.is-animating .live2d-card {
  transform: scale(0.8);
}