---
import Layout from "@layouts/Layout.astro";
import Projects from "@components/content/projects.svelte";
import { categoryQuery } from "@lib/utils/queries";
import { sanityClient } from "sanity:client";
interface NavLinks {
  _id: string;
  title: string;
  description: string;
  slug: string;
  mainImage: any;
}
let categories: NavLinks[] = [];
categories = await sanityClient.fetch(categoryQuery);
---

<!-- Projects Page -->
<Layout
  title="Hyceate's Project Page"
  description="The page for a list of all project categories."
>
  <hgroup class="flex justify-center flex-col items-center mb-20">
    <h1 class="text-6xl mb-9 font-medium">Projects</h1>
    <h2 class="text-center">
      Projects consist of personal and commercial purposes.
    </h2>
  </hgroup>
  <ul class="flex flex-col justify-center w-full gap-1">
    {
      categories.length ? (
        categories.map((category) => (
          <Projects category={category} client:only="svelte" />
        ))
      ) : (
        <h1>"Error fetching"</h1>
      )
    }
  </ul>
</Layout>
<style></style>
