---
import Layout from "@layouts/Layout.astro";
import Projects from "@components/content/projects.svelte";
import { categoryQuery } from "@lib/utils/queries";
import { sanityClient } from "sanity:client";
interface NavLinks {
  _id: string;
  title: string;
  description: string;
  slug: string;
  mainImage: any;
}
let categories: NavLinks[] = [];
categories = await sanityClient.fetch(categoryQuery);
---

<!-- Projects Page -->
<Layout
  title="Hyceate's Project Page"
  description="The page for a list of all project categories."
>
  <hgroup class="flex justify-center flex-col items-center mt-10 mb-20">
    <h1 class="text-6xl mb-9 font-medium">Projects</h1>
    <h2>Projects consist of personal and commercial purposes.</h2>
  </hgroup>
  <div class="flex flex-col justify-center w-full">
    {
      categories.length ? (
        categories.map((category) => (
          <Projects category={category} client:load />
        ))
      ) : (
        <h1>"Error fetching"</h1>
      )
    }
    <!-- <Projects>
      <Image
        class="flex flex-1 w-full h-full min-h-[30rem] rounded-lg object-cover object-center"
        loading="lazy"
        src={urlFor(category.mainImage).width(1280).height(720).url()}
        alt={category?.mainImage.alt}
        slot="image"
      />
    </Projects> -->
  </div>
</Layout>
