---
import { ViewTransitions, fade } from "astro:transitions";
import "@assets/css/app.css";
import "@assets/css/transitions.css";
import CommonHead from "@components/CommonHead.astro";
import Header from "@components/header.svelte";
import Headroom from "@components/headroom.svelte";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
let pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/hy_roundBG.svg" />
		<meta name="generator" content={Astro.generator} />
		<CommonHead title={title} description={description} />
		<ViewTransitions />
	</head>
	<body class="flex flex-col items-center">
		<div class="contents" transition:animate="none">
			<Headroom offset={0} tolerance={10} duration="350ms" client:load>
				<Header url={pathname} client:load />
			</Headroom>
		</div>
		<main class="flex flex-col items-center w-full h-full flex-1">
			<article
				class="flex flex-1 flex-col w-dvw items-center px-5 lg:px-20 pt-5 pb-4 max-w-[81rem] mt-24 overflow-clip"
			>
				<slot />
			</article>
		</main>
		<!-- loader -->
		<aside
			id="loader"
			transition:persist
			class="invisible opacity-0 fixed z-[999] flex justify-center items-center w-full h-dvh"
		>
			<div class="loader z-20"></div>
			<div
				id="loader-bg"
				class="fixed overflow-hidden w-full h-dvh left-0 -top-0 bg-primary/80 backdrop-blur-sm z-[10]"
			>
			</div>
		</aside>
		<!-- end loader -->
		<style is:global>
			.show {
				visibility: visible;
				opacity: 1;
				transition: 1s all ease;
			}
			.loader {
				width: 50px;
				height: 75px;
				display: grid;
				color: #d63f3f;
				background:
					linear-gradient(currentColor 0 0) top/100% 2px,
					radial-gradient(
							farthest-side at top,
							#ff929200 calc(100% - 2px),
							currentColor calc(100% - 1px),
							#f7595900
						)
						top,
					linear-gradient(currentColor 0 0) bottom/100% 2px,
					radial-gradient(
							farthest-side at bottom,
							#ff4f4f00 calc(100% - 2px),
							currentColor calc(100% - 1px),
							#9e1a1a00
						)
						bottom;
				background-size:
					100% 1px,
					100% 50%;
				background-repeat: no-repeat;
				animation: spin-scale 4s infinite linear;
			}

			.loader::before,
			.loader::after {
				content: "";
				grid-area: 1/1;
				background: inherit;
				border: inherit;
				animation: inherit;
			}

			.loader::after {
				animation-duration: 2s;
			}
		</style>
		<script is:inline></script>
		<script src="@assets/js/transition.js"></script>
	</body>
</html>
