---
import { ViewTransitions } from "astro:transitions";
import { AstroFont } from "astro-font";
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<link rel="icon" type="image/svg+xml" href="/hy_roundBG.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<AstroFont
  config={[
    {
      src: [],
      name: "Rubik",
      // Google Fonts URL
      googleFontsURL:
        "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap",
      preload: true,
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
    },
    {
      src: [],
      name: "Lexend",
      // Google Fonts URL
      googleFontsURL:
        "https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lexend:wght@100..900&display=swap",
      preload: true,
      display: "swap",
      selector: "h1",
      fallback: "sans-serif",
    },
  ]}
/>
<ViewTransitions />
